





body {
  	color: #777777;
  	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url(../images/circles-light.png)
 
}

header {
 	padding: 00px;
  	margin-bottom: 20px;
  	color: #333;
  	background: #777777;
  	z-index: 200;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

#masterhead {
	position: fixed;
	width: 100%;
	margin: 0 0 0px 0;
	color: #fff;
	border-bottom: 2px solid #ccc;
	background: #fff;
	height: 60px;
}

#name {
	height: 60px;
	width: 270px;
	color: #fff;
	background: #4aaaa5;
	font-family: georgia, times, "times new roman", serif;
	float: left;
	line-height: 60px;
	text-align: center;
	font-size: 25px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}		

#mainbody {
	padding-top: 0px;

}	

.mainsection {
	float: left;
	margin: 100px 0px 30px 0px;
	padding: 10px 30px 30px 30px;
	
	background: #fff;
	border: 2px solid #ddd;
	width: 550px;
	line-height: 25px;
	font-size: 16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.profilepic {
	width: 190px;
	padding: 0 30px 10px 0;
	float: left;

}


.sidebar {
	float: right;
	width: 270px;
	height: 190px;
	padding: 0px 0px 0px 0;
	background: #fff;
	border: 2px solid #ddd;
	padding-left: 0px;
    text-align: center;
    margin-top: 100px;
	padding: 40px, 10px, 0, 10px;
	margin: 0, 20px, 0, 10px;
}

.sidebarimages {
	width: 55px;
	height: 55px;
	position: relative;
    top: 10px;
}


hr {
	width: 165px;
}

#hr2 {
	width: 545px;
}

h1 {
	font-size: 30px;
	line-height: 24px;
  	color: #4aaaa5;
  	font-family: georgia, times, "times new roman", serif;
  	padding-top: 30px

}

h2 {
	font-size: 18px;
	line-height: 55px;
  	color: #4aaaa5;
  	font-family: georgia, times, "times new roman", serif;
  	font-weight: bold;
  	padding-top: 30px;

}

h3 {
	position: absolute;   
	width: 260px;
	height: 50px;
	font-weight: 300;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: #4aaaa5;
	z-index: 5;
}

#green {
	position: absolute; 
	top: 420px;
	padding-top: 20px;
	text-decoration: underline;
}

#green1 {
	position: absolute; 
	top: 185px;
	right: 15px;
	padding-top: 20px;
	text-decoration: underline;
}

#green2 {
	position: absolute; 
	top: 185px;
	right: 15px;
	padding-top: 20px;
	text-decoration: underline;

}

/* I am using class and absolute postioning to get the green bars in place. This cannot be right. */


nav {
	float: right;
}

nav a {
	text-decoration: none;
	margin: 25px 7px 0px 0px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display: inline-block;
	color: #777777;
}

footer {
	width: 100%;
	clear: both;
	font-size: 18px;
	text-align: center;
	background: #666;
	color: #ffffff;
	text-decoration: none;
	height: 80px;
	border-top: 10px solid #4aaaa5;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


#footertype {
	width: 100%;
	padding: 25px 0px 0px 0px;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top: 10px solid #4aaaa5;
	text-decoration: none;

}	

.work{
	position: relative;
	z-index: 1;
	float:	left;
	width: 260px;
	height: 260px;
	padding: 0 15px 15px 0;

}

.button{
	width: 90px;
	height: 40px;
	color: #fff;
	background: #4aaaa5;
}


#boxsize{
	width: 540px;
	height: 300px;
}

.typebox{
	width: 540px;
	height: 20px;
}


@media only screen and (max-width : 980px) {
	
}

@media only screen and (max-width : 888px) {
	.sidebar {
	float: left;
	width: 100%;
}

nav {
	background-color: white;
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;	
	padding-top: 20px;
}

#name {
	height: 60px;
	width: 100%;
	color: #fff;
	background: #4aaaa5;
	font-family: georgia, times, "times new roman", serif;
	float: left;
	line-height: 60px;
	text-align: center;
	font-size: 25px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}	

.mainsection {
	margin: 130px 0px 30px 0px;

}

nav a {
	text-align: center;
	background-color: white;
	width: 100%;
	display: inline;
	text-align: center;	

	
}






}

@media only screen and (max-width : 768px) {

nav {
	background-color: white;
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;	
	padding-top: 20px;
}

#name {
	height: 60px;
	width: 100%;
	color: #fff;
	background: #4aaaa5;
	font-family: georgia, times, "times new roman", serif;
	float: left;
	line-height: 60px;
	text-align: center;
	font-size: 25px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}	

.mainsection {
	margin: 130px 0px 30px 0px;

}

nav a {
	text-align: center;
	background-color: white;
	width: 100%;
	display: inline;
	text-align: center;	

	
}

.sidebar {
	float: left;
	width: 100%;
}

.work {
    width: 100%;
    height: auto;
    float: left;
}










@media screen and (max-width : 640px) {
	
.work {
    width: 100%;
    height: auto;
    float: left;
}

    }



